* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-areas:
        'header header header header'
        'sidebar main main main'
        'footer footer footer footer'
}

/* 48:23 min clase para empezar codigo css */

.header {
    grid-area: header;
    background-image: url(../img/celebración.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:200px;
    text-emphasis-position: middle;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    color:#E0CAE6;
}

.logo img {
    width: 300px;
}

.nav {

}

.nav-list {

}

.nav-item {

}
.cart-btn{

}

.cart-count {

}

.sidebar {
    grid-area: sidebar;
    background-color: #E6DDCA;
    color: #66552B;
}

.sidebar-list {

}

.sidebar-item {

}

.main {
    grid-area: main;
    background-color: #FFFFFF;
    color: #2B6650;
}

.card {

}

.card-img {

}

.card-description {

}

.card-price {

}

.card-btn {

}

.footer {
    grid-area: footer;
    background-color: #66552B;
    color: #E6DDCA;
}

.footer-text {

}

.footer-list {

}

.footer-social {

}