* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-areas:
        'header'
        'sidebar'
        'main'
        'footer';
/* para definir los espacios de las filas */
    grid-template-rows: 75px auto 1fr 75px;
    
    grid-template-columns: 1fr;
/* para indicar que ocupe el 100% del espacio del dispositivo que lo muestra */
    min-height: 100vh;
    max-height: calc(100vh + 95px);
}

.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.header {
    grid-area: header;
    background-color: #E0CAE6;
    color:#66552B;
    padding-right: 10px;
    background-image: url(../img/celebración.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_display_nav, 
.header_close_nav {
    background-color: #E6DDCA;
    color: #66552B;
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 15px;
}

.header_close_nav {
    position: absolute;
    background-color: #66552B;
    color: #E6DDCA;
    z-index: 6;
    top: 22px;
    right: 10px;
    display: flex;
    transition: transform 0.1s ease-in-out;
	transform: translate(-100vw, -100vh);
}

.header_display_nav:focus ~ .nav {
    transform: translate(0%);
}

.header_display_nav:focus ~ .header_close_nav {
    transform: translate(0%);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    z-index: 5;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #E6DDCA;
    transition: transform 0.7s ease-in-out;
    transform: translate(0vw, -100vh);
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.nav-item {
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 2px solid #35223A;
    font-size: 20px;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.cart-btn, 
.cart-btn2 {
    position: relative;
    border: none;
    background-color: #E6DDCA;
    color: #66552B;
    border: none;
    padding: 6.2px;
    border-radius: 8px;
    font-size: 14px;
}

.cart-count, .cart-count-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 22px;
    bottom: 20px;
    height: 18px;
    width: 18px;
    background-color: #d184e891;
    font-weight: bold;
    opacity: 1;
    animation: none;
}

.cart-count-back {
    background-color: #d084e8;
    height: 18px;
    width: 18px;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.barra-filtros {
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.barra-filtros select {
    float: right;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 6px;
    border: none;
    font-size: 12px;
    width: 100%;
    color:#828685;
}

.filtros-btn {
    border: none;
    background-color: #CAE6DB;
    color: #2B6650;
    border: none;
    padding: 6.2px;
    border-radius: 8px;
    font-size: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #E6DDCA;
    color: #66552B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.main {
    grid-area: main;
    background-color: #FFFFFF;
    color: #2B6650;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #828685;
    overflow: hidden;
    background-color: #CAE6DB;
    height: 500px;
    width: 100%;
    position: relative;
}

.card-img {
    width: 100%;
    height: 280px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}

.card-content h3, p{
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.card-description {
    text-align: center;
    font-size: 12px;
}

.card-price {
    font-weight: bold;
}

.card-btn {
    border:#2B6650;
    border-radius: 15px;
    background-color: #2B6650;
    color: #CAE6DB;
    font-weight: bold;
    padding: 15px;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #66552B;
    color: #E6DDCA;
    gap: 10px;
    padding: 10px 5px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 15px;
}

.footer-social a {
    color:#E6DDCA;
    text-decoration: none;
}

.footer p {
    padding-bottom: 5px;
    font-size: 12px;
}

@keyframes ping {
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0.5;
    }
}









/* Layauts versión tablets */
@media screen and (min-width: 576px) {
    .header-btn {
        width: 50%;
    }

    .header_display_nav, 
    .header_close_nav {
        display: none;
    }

    .cart-btn {
        position: relative;
        border: none;
        background-color: #E6DDCA;
        color: #66552B;
        border: none;
        padding: 6.2px;
        border-radius: 8px;
        font-size: 20px;
    }

    .cart-btn2 {
        display: none;
    }

    .cart-count, .cart-count-back {
        left: 30px;
        bottom: 25px;
        height: 18px;
        width: 18px;
        font-size: 18px;
    }

    .nav {
        flex-direction: row;
        height: auto;
        position: static;
        background-color: transparent;
        transform: translate(0vw);
    }

    .nav-list {
        flex-direction: row;
        gap: 10px;
        text-shadow: #828685;
        padding-right: 15px;
    }

    .nav-item {
        background-color: #e6ddcae1;
        border-bottom: 2px solid #66552B;
        font-size: 15px;
    }

    .main {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap:15px;
    }
}


/* Layauts versión Escritorio */
@media screen and (min-width: 992px) {
    .body {
        display: grid;
        grid-template-areas:
            'header sidebar sidebar sidebar'
            'header main main main'
            'header footer footer footer';
    /* para definir los espacios de las filas */
        grid-template-rows: 85px 1fr 80px;
        grid-template-columns: 250px 1fr;
    /* para indicar que ocupe el 100% del espacio del dispositivo que lo muestra */
        min-height: 100vh;
        max-height: calc(100vh + 600px);
    }

    .logo {
        width: 220px;
        height: auto;
    }
    
    .logo img {
        width: 100%;
        object-fit: cover;
    }

    .header {
        padding-right: 0px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
    }

    .header-btn {
        flex-direction: column;
        gap:40px;
    }

    .nav-list {
        flex-direction: column;
        gap: 30px;
        padding-right: 0px;
    }

    .sidebar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        padding: 10px;
    }
    
    .sidebar h4 {
        font-size: 22px;
    }

    .sidebar-item h4 {
        font-size: 18px;
    }
    

    .card-img {
        opacity: 0.5;
        filter: grayscale(1);
        transition: opacity 0.5s ease-in-out 0.1s, filter 0.5s, transform 0.5s;
        
    }
    .card-img:hover {
        opacity: 1.0;
        filter: none;
        transform: scale(1.1);
    }
}

